@model AppMascotas.Models.Mascota

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>Mascota</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dueño)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dueño)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColorPelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColorPelo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MascotaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
